In [ ]:
# 85. Write a program to print the Floydâ€™s triangle.
#1
#2 3
#4 5 6
#7 8 9 10
n = int(input(" Enter the total Number of Rows  : "))
d = 1
c = 1
for i in range(1, n + 1):
    for j in range(1, i + 1):        
        print(d, end = '  ')
        d += 1
    c += 1
    print()

In [ ]:
#86. Write a program to print the following triangle.
#1
#1 2
#1 2 3
#1 2 3 4
#1 2 3 4 5
n = int(input("enter the total number of rows :"))
for i in range(0,n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

In [11]:
#87. Write a program to print the following triangle.
#1
#2 2
#3 3 3
#4 4 4 4
#5 5 5 5 5
n = int(input("enter the total number of rows :"))
for i in range(0,n):#nested loop
    for j in range(i,-1,-1):
        print(i+1,end=" ")
    print()

enter the total number of rows : 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#LAB: 22
#88. Write a program to print the following triangle.
#1
#1 1
#1 2 1
#1 2 3 1
#1 2 3 4 1
#1 2 3 4 5 1
n = int(input("enter the total number of rows : "))
for i in range(1,n+1):
    for j in range(1,i):
        print(j,end=" ")
    print(1,end=" ")
    print()

In [ ]:
#89. Write a program to print the following triangle.
#1 2 3 4 5
#1 2 3 4
#1 2 3
#1 2
#1
n = int(input("enter the total number of rows :"))
for i in range(0,n):
    for j in range(n-i):
        print(j+1,end=" ")
    print()

In [ ]:
#90. Write a program to print the following triangle.
#1 1 1 1 1
#2 2 2 2
#3 3 3
#4 4
#5
n = int(input("enter the total number of rows :"))
for i in range(0,n):
    for j in range(n-i):
        print(i+1,end=" ")
    print()

In [ ]:
#91. Write a program to print the following triangle.
#5 5 5 5 5
#4 4 4 4
#3 3 3
#2 2
#1
n = int(input("enter the total number of rows:"))
for i in range(0,n):
    for j in range(n-i):
        print(n-i,end=" ")
    print()

In [ ]:
#92. Write a program to print the following triangle
#5 4 3 2 1
#5 4 3 2
#5 4 3
#5 4
#5
n = int(input("enter the total number of rows :"))
for i in range(0,n):
    for j in range(n-i):
        print(n-j,end=" ")
    print()

In [ ]:
#93. Write a program to print the following triangle
#5
#5 4
#5 4 3
#5 4 3 2
#5 4 3 2 1
n = int(input("enter the total number of rows :"))
for i in range(0,n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

In [ ]:
#94. Write a program to print the following triangle.
#1 1 1 1 1
#  2 2 2 2
#    3 3 3
#      4 4
#        5
n = int(input("enter the total number of rows:"))
for i in range(0,n):
    for j in range(i):
        print(" ",end=" ")
    for k in range(n-i):
        print(i+1,end=" ")
    print()

In [ ]:
#95. Write a program to print the following triangle.
#1 2 3 4 5
#  1 2 3 4
#    1 2 3
#      1 2
#         
n = int(input("enter the total number of rows:"))
d = 1
for i in range(n1):
    for j in range(i):
        print(" ",end=" ")
    for k in range(n-i):
        print(k+1,end=" ")
    print()

In [ ]:
#96. Write a program to print the following triangle.
#1 2 3 4 5
#  2 3 4 5
#    3 4 5
#      4 5
#        5
n = int(input("enter the total number of rows:"))
c = 1
d = 1
for i in range(1, n + 1):
    for j in range(1, i):
        print(" ", end = ' ')
    for k in range(i, n + 1):
        print(d, end = ' ')
        d += 1
    c += 1
    d = c
    print()

In [ ]:
#LAB: 25
#97. Write a program to print the following triangle
#        1
#      1 2
#    1 2 3
#  1 2 3 4
#1 2 3 4 5
n = int(input("enter the total number of rows:"))
d = 1
for i in range(1,n+1):
    for j in range(i,n+1):
        print(" ",end=" ")
    for k in range(1, i+1):
        print(d, end=" ")
        d += 1
    d = 1    
    print()

In [ ]:
#98. Write a program to print the following triangle.
#1 2 3 4 5
#  2 3 4 5
#    3 4 5
#      4 5
#        5
n = int(input("enter the total number of rows:"))
c = 1
d = 1
for i in range(1, n + 1):
    for j in range(1, i):
        print(" ", end = ' ')
    for k in range(i, n + 1):
        print(d, end = ' ')
        d += 1
    c += 1
    d = c
    print()

In [11]:
#99. Write a program to print the following triangle.
#5 4 3 2 1
#  5 4 3 2
#    5 4 3
#      5 4
#        5
n = int(input("enter the total number of rows:"))
for i in range(n):
    for j in range(i):
        print(" ", end = ' ')
    for j in range( n - i):
        print(n-j, end = ' ')
    print()

enter the total number of rows: 5

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [ ]:
#100. Write a program to print the following triangle.
#        5
#      5 4
#    5 4 3
#  5 4 3 2
#5 4 3 2 1
n = int(input("enter the total number of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end = ' ')
    for j in range(i+1):
        print(n-j, end = ' ')
    print()

In [ ]:
#101. Write a program to print the following triangle.
#        1
#      2 1
#    3 2 1
#  4 3 2 1
#5 4 3 2 1
n = int(input("enter the total number of rows:"))
d = 1
c = 1
for i in  range(1,n+1):
    for j in range(i,n+1):
        print(" ",end=" ")
    for k in range(1, i+1):
        print(d,end=" ")
        d -= 1
    c += 1
    d = c
    print()

In [ ]:
#102. Write a program to print the following triangle.
#        5
#      4 5
#    3 4 5
#  2 3 4 5
#1 2 3 4 5
n = int(input("enter the total number of rows:"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

In [ ]:
#103. Write a program to print the following triangle.
#        1
#      2 2
#    3 3 3
#  4 4 4 4
#5 5 5 5 5
n = int(input("enter the total number of rows:"))
for i in range(0, n):
    for j in range(n,i,-1):
        print(" ",end=" ")
    for k in range(i,-1,-1):
        print(j,end=" ")
    print()

In [ ]:
#104. Write a program to print the following triangle.
#5
#4 4
#3 3 3
#2 2 2 2
#1 1 1 1 1
n = int(input("enter the number of rows:"))
for i in range(n,0,-1):
    for j in range(i,6):
        print(i,end=" ")
    print()

In [ ]:
#105. Write a program to print the following triangle.
#        5
#      4 4
#    3 3 3
#  2 2 2 2
#1 1 1 1 1
n = int(input("enter the total number of rows:"))
for i in range(0, n):
    for j in range(n,i,-1):
        print("*",end=" ")
    for k in range(i,-1,-1):
        print(j,end=" ")
    print()